/*background element*/
.okvir {
    position: relative;
    z-index: 0;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    height: 100%;
    width: 100%;
}

/*uredjenje gornjeg dijela stranice (meni i logo)*/
.logo {
    margin-top: 0%;
    z-index: 1;
    width: 65%;
    text-align: center;
   position: relative;
  }

.htmlslika {
    top: 75px;
    display: table-cell;
     width:150px; 
    height:150px;
    margin: 0 auto;
    position: relative; 
}

.meni {
       
        background: #74afdb;
        height: 100pt;
        width: 65%;
        position: relative;
        text-align: center;
}

.meni  ul {
    position: absolute;
    bottom: 0;
    list-style-type: none;
    margin-bottom: 1%; 
    margin-left: 3%;
}

.meni  ul  li {
        display: inline-block;
        padding-right: 35px; 
        font-size: 150%;
}

/*uklanjam podvlaku kod linka*/
.bezPodvlake {
    text-decoration: none;
}

a {
    color: black;
}

/*uredjenje sadrzaja*/
.sadrzaj {
  margin-top: 1%;
  float: left;
  width : 65%;
  height: 500pt;
  background: #74afdb;
}

.sadrzaj  h2 {
   margin-left: 1%;
   margin-top: 5%;
}

.sadrzaj  p {
	margin-right: 2%;
	margin-left: 1%;
}

/*uredjenje tabele*/
.tabelaSala {
    margin-top: 5%;
    margin-left: 20%;
    margin-right:25%;
    width: 60%;
    height: 50%; 
    border-collapse:collapse;
}

.headerSprat {
    background: #939499;
    width: 40pt; 
    height: 40pt;
    margin-right: 1pt;
}

.headerSprat #sprat {
    height: 50pt;
    background: #939499;
    text-align: center;
}

.headerSprat.low {
    text-align: center;
}

#rb {
    vertical-align: bottom ;
    text-align: center;
}

.sala.zauzetaSala {
    background:orange;
}

.sala.slobodnaSala {
    background:lightgreen;
}

#blanko {
    visibility: hidden;
    border: 0;
}

 .headerRedni, .sala,.headerSprat {
    border: solid 1px black; 
}

.headerRedni {
    background:  #c8c9cf;
    width : 60pt;
    font-weight: normal;
    text-align: left ;
}

.sala.kancelarija {
    background: darkslategray;
}

.sala {
    background: white;
    border: solid 2px gray;
    width: 30pt;
    height: 30pt;
    vertical-align: top;
    text-align: left;
}

/*za ekrane ispod sirine 600px*/
@media screen and (max-width: 600px) {

    .meni  ul {
       position: absolute;
        bottom: 0;
        list-style-type: none;
       text-align: center;
    }
    
    .meni  ul  li {
        display: list-item; 
            font-size: 70%;
    }

    .headerSprat, .headerRedni{
        visibility: hidden;
        border: 0;
    }
}



